@import '../../style/_variable';

.row { 
    align-items: center;
    border:1px solid rgba($light,0.45);
    box-shadow: $boxShadow;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 20px;

    .input:first-child {
        margin-right: 35%;
    }

    .close{   
        align-items: center;  
        background-color: $secondary; 
        border-radius: 50%;       
        border:none;       
        color:$white;
        cursor: pointer;          
        display: flex;
        font-size: $small; 
        justify-content: center;
        height: 18px;
        width: 18px;       
        vertical-align: middle;                  
    }
}